<h1>About Me</h1>

<hr>
  <div class="row">
    <div class="col-md-4">
     
      <%= image_tag "profile.jpg", width: 300, alt:"Profile Imaage"%>
    </div>
    <div class="col-md-8">
      <p>I'm a nerd with passion for coding.
      I've learned through this course that coding is not just used for games or applications, it can also be used to make my job searching a whole lot easeir. </p>
    </div>
  </div>


