<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">

         <h3>How many times I've seen the flaws of humanity</h3>
        
        <p><%= number_with_delimiter "4545454164" %></p>
        
        <h3>Phone Number</h3>
        
        <p><%= number_to_phone "555-555-5555"%></p>

        <h3>Email</h3>
        
          <p><a href="mailto:williamnichols9199@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
       <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d16.222089482820593!2d-111.8960568883005!3d40.65265532317451!2m2!1f325.442208740406!2f45.026273827466056!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x8752898702ebb127%3A0xd458fb74c5e973ee!2s190+W+American+Ave%2C+Murray%2C+UT+84107!5e1!3m2!1sen!2sus!4v1499264050775"
        width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>